.UL_lite {
  display: flex;
  gap: 50px;
}
input {
  width: 130px;
  height: 20px;
  border-color: blueviolet;
  background-color: aqua;
  margin: 40px;
}
.Lite {
  position: absolute;
  right: 0;
  display: flex;
  gap: 30px;
  color: brown;
  font-size: 30px;
  top: 500px;
}
