@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
a {
  color: black;
  text-decoration: none;
}
body {
  background-color: black;
}
ul li {
  list-style-type: none;
}
header {
  padding: 30px 117px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.7);
}
header nav a:first-child {
  color: #ffff;
}
header nav {
  display: flex;
  gap: 58px;
}
/*? first-sct */
.discount {
  width: 408px;
  height: 40px;
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
  border-radius: 10px;
}
.discount img {
  width: 32px;
  height: 32px;
}
.discount span {
  color: #ffff;
}
.discount {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px 8px;
}
.first_sct_1 {
  width: 670px;
  margin-top: 179px;
  position: relative;
}
.first_sct_1 h1 {
  color: #ffff;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 140%;
  letter-spacing: 0.01em;
  margin-top: 16px;
  margin-bottom: 40px;
}
.first_sct_1 h1 span {
  background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #def9fa 0.89%,
      #bef3f5 17.23%,
      #9dedf0 42.04%,
      #7de7eb 55.12%,
      #5ce1e6 71.54%,
      #33bbcf 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.first_sct {
  display: flex;
  margin-left: 145px;
  height: 900px;
}
.first_sct_1 p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 170%;
  color: rgba(255, 255, 255, 0.7);
  width: 483px;
}
.start {
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid aqua;
  border-radius: 100px;
  position: absolute;
  top: 70px;
  left: 400px;
}
.start a {
  font-weight: bold;
  width: 78px;
  height: 53.67px;
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
  line-height: 23px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
/* !first-sct-end */
.second_sct h3 {
  color: #ffff;
  font-style: normal;
  font-weight: 600;
  font-size: 40.8925px;
  line-height: 130%;
}
.second_child {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.second_sct h4 {
  margin-top: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 20.4463px;
  line-height: 130%;
  text-transform: uppercase;
  background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #def9fa 0.89%,
      #bef3f5 17.23%,
      #9dedf0 42.04%,
      #7de7eb 55.12%,
      #5ce1e6 71.54%,
      #33bbcf 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
/* ?second-section */
/* !second-end */
/* ?third-sct */
.third_sct h1 {
  ont-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: #ffffff;
}
.third_sct p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 170%;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.7);
}
.third_sct button {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-transform: capitalize;
  color: #00040e;
  width: 170px;
  height: 64px;
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
  border-radius: 10px;
  color: black;
}
.third_sct .third_one {
  width: 622px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.third_sct div:last-child h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-transform: capitalize;

  color: #ffffff;
}
.third_sct div:last-child h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
}
.third_sct div:last-child ion-icon {
  color: aqua;
  padding: 12px;
  width: 60.4px;
  height: 38.4px;
  border-radius: 100px;
  border: 5px solid #272727;
  background-color: #272727;
}
.third_head {
  display: flex;
  align-items: center;
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
  border-radius: 20px;
  padding: 15px;
  gap: 20px;
  width: 470px;
}
/* .third_head ion-icon {
  color: aqua;
  padding: 12px;
  width: 60.4px;
  height: 38.4px;
  border-radius: 100px;
  border: 5px solid #272727;
  background-color: #272727;
} */
.third_head .third_head_child {
  display: flex;
  gap: 23px;
}
.third_sct {
  display: flex;
  justify-content: space-between;
  padding: 0px 130px;
  margin-top: 150px;
}
/*!third-end  */
.lit_div {
  display: flex;
  justify-content: center;
  padding: 100px 130px;
}
.lit_div_2 h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 140%;
  color: #ffffff;
}
.lit_div_2 p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.7);
}
.lit_div_2 button {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin-top: 50px;

  text-transform: capitalize;

  color: #00040e;
  width: 170px;
  height: 64px;
  color: black;
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
  border-radius: 10px;
}
.lit_div_2 {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  backdrop-filter: blur(5px);
  width: 1100px;
  height: 293px;
  display: grid;
  gap: 100px;
  grid-template-columns: 1fr 1fr;
  padding: 70px 100px;
  border-radius: 20px;
}
.just {
  display: flex;
  justify-content: center;
  margin-bottom: 87px;
}
footer ul li:first-child {
  color: #ffff;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 20px;
}
footer {
  padding: 20px 130px;
}
.footer_child {
  display: flex;
  justify-content: space-between;
}
footer p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 20px;
}
footer ul li {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 5px;
}
.line {
  width: 100%;
  height: 0px;
  margin: 40px 0px;
  border: 1px solid #3f3e45;
}
.footer_child_2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_child_2 p {
  margin: 0;
}
.footer_child_2 nav {
  display: flex;
  gap: 20px;
}
footer ion-icon {
  color: rgba(255, 255, 255, 0.7);
  width: 30px;
  height: 30px;
}
