@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-seri;
}
textarea {
  outline: none;
  border: none;
  overflow: auto;
  resize: vertical;
}
button {
  cursor: pointer;
  border: 0;
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
}
img {
  border: none;
}
body {
  background: #222831;
}
input {
  border: 0;
}
/* header */
header {
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 48px 96px 0px 96px;
}
header div {
  display: flex;
  gap: 25px;
}
header h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #eeeeee;
}
header p {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #eeeeee;
}
/* header end */
.main_div_1 h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 96px;
  color: #eeeeee;
}
.main_div_1 span {
  color: #00adb5;
}
.main_div_1 div button {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #eeeeee;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.main_div_1 div button:first-child {
  padding: 10px 32px;
  gap: 10px;
  background: #00adb5;
  border-radius: 24px;
  border: 0;
}
.main_div_1 div button:nth-child(2) {
  padding: 10px 32px;
  width: 228px;
  height: 47px;
  background: rgba(57, 62, 70, 0.75);
  backdrop-filter: blur(2px);
  border-radius: 24px;
  border: 0;
}
.main_div_1 div:first-child div:nth-child(2) {
  display: flex;
  gap: 35px;
  padding-left: 100px;
  margin-top: 25px;
}
.main_div_1 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 190px;
}
.main_div_1_lite {
  display: flex;
  justify-content: space-evenly;
}
.main_div_1_lite img {
  position: relative;
  transform: rotate(356deg);
  width: 89px;
  height: 221px;
  top: 80px;
}
.main_div_1 div:nth-child(2) {
  position: relative;
}
.main_div_1 div:nth-child(2) img:first-child {
  position: relative;
  width: 512px;
  height: 514px;
}
.main_div_1 div:nth-child(2) img:nth-child(2) {
  position: absolute;
  top: 150px;
  left: 0px;
  width: 400px;
  height: 472px;
}
.ion_lite_1 {
  color: white;
  width: 50px;
  height: 96px;
  background: rgba(57, 62, 70, 0.75);
  backdrop-filter: blur(4px);
  width: 96px;
  padding: 5px;
}
.lite_div_1 {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.lite_div_1 ion-icon {
  border-radius: 30px;
}
.main_div_2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 250px;
  position: relative;
}
.main_div_2 div:first-child img:first-child {
  position: absolute;
  top: -150px;
}
.main_div_2 div:first-child img:nth-child(2) {
  position: absolute;
  left: 648px;
}
.main_div_2 div:first-child img:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 400px;
}
.main_div_2 h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 96px;
  color: #eeeeee;
}
.main_div_2 span {
  color: #00adb5;
}
.main_div_2 p {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: rgba(238, 238, 238, 0.75);
}
.main_div_2 div:nth-child(2) img:first-child {
  width: 665.33px;
  height: 499px;
}
.main_div_2 div:nth-child(2) {
  position: relative;
}
.main_div_2 div:nth-child(2) img:nth-child(2) {
  width: 412.68px;
  height: 353.14px;
  position: absolute;
  left: 108px;
  top: 243px;
}
.main_div_3 {
  width: 100%;
  height: 1024px;
  margin-top: 250px;
  position: relative;
  background-image: url("./second-images/Projects Page1.png");
}
/* .main_div_3 img {
  width: 100%;
  height: 1024px;
} */
.main_div_3 h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 96px;
  color: #eeeeee;
}
.main_div_3 span {
  color: #00adb5;
}
.main_div_3_lite button:first-child {
  width: 88px;
  height: 47px;
  background: #00adb5;
  border-radius: 24px;
}
.main_div_3_lite button {
  color: #eeeeee;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  padding: 10px 32px;
}
.main_div_3_lite {
  width: 93%;
  height: 1024px;
  box-sizing: border-box;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main_div_3_lite button:nth-child(2),
.main_div_3_lite button:nth-child(3) {
  width: 82px;
  height: 47px;
  background: rgba(57, 62, 70, 0.5);
  backdrop-filter: blur(4px);
  border-radius: 24px;
}
.main_div_3_lite button:last-child {
  width: 174px;
  height: 47px;
  background: rgba(57, 62, 70, 0.5);
  backdrop-filter: blur(4px);
  border-radius: 24px;
}
.main_div_3_lite div:nth-child(3) img:nth-child(1) {
  width: 265px;
  height: 158px;
  padding: 61px 51px;
  background: rgba(57, 62, 70, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 16px;
}
.main_div_3_lite div:nth-child(3) {
  display: flex;
  gap: 48px;
  margin-top: 48px;
}
.main_div_3_lite div:nth-child(2) {
  display: flex;
  gap: 18px;
  margin-top: 25px;
}
.main_div_3 div:nth-child(3) img:nth-child(2) {
  width: 368px;
  height: 181px;
  padding: 50px 0px 50px 0px;
  background: rgba(57, 62, 70, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 16px;
}
.main_div_3 div:nth-child(3) img:nth-child(3) {
  width: 359px;
  height: 170.67px;
  padding: 55px 9px 54px 0px;
  background: rgba(57, 62, 70, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 16px;
}
.main_div_4 h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 96px;
  color: #eeeeee;
}
.main_div_4 span {
  color: #00adb5;
}
.main_div_4 {
  margin-top: 300px;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.main_div_4 input {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: rgba(238, 238, 238, 0.5);
}
form div:first-child input {
  width: 288px;
  height: 59px;
  background: rgba(57, 62, 70, 0.5);
  border-radius: 16px;
  padding: 0px 0px 0px 25px;
}
form textarea {
  margin-top: 40px;
  padding: 20px 0px 0px 25px;
  width: 628px;
  height: 280px;
  background: rgba(57, 62, 70, 0.5);
  border-radius: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: rgba(238, 238, 238, 0.5);
  touch-action: manipulation;
}
form button {
  width: 232px;
  height: 47px;
  background: #00adb5;
  border-radius: 24px;
  color: #eeeeee;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
}
form ion-icon {
  width: 24px;
  height: 24px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}
form div {
  display: flex;
  gap: 24px;
}
.keyboard {
  position: relative;
  top: -210px;
  left: 215px;
}
.mail {
  position: relative;
  top: 561px;
  left: 450px;
}
img[src="./second-images/Vector arrow_2.png"] {
  margin-bottom: 67px;
  margin-left: 0px;
  margin-right: 12px;
}
/* footer */
footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
}
footer div:first-child {
  display: flex;
  gap: 48px;
}
footer div:nth-child(2) {
  margin-top: 40px;
  display: flex;
  gap: 30px;
}
footer p {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #eeeeee;
  display: flex;
  align-items: center;
  gap: 7px;
}
footer div:nth-child(2) ion-icon {
  background: #393e46;
  border-radius: 50px;
  padding: 12px;
  color: white;
  width: 25px;
  height: 25px;
}
/* footer end */
.lite_p_1 {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: end;
  color: rgba(238, 238, 238, 0.75);
  padding: 48px 96px;
  margin-top: 48px;
}
