@media only screen and (max-width: 1100px) {
  .tl_team_div_1 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 750px) {
  .tl_team_div_1 {
    grid-template-columns: 1fr;
  }
  .img_lite {
    height: 50vw;
  }
}
