.img_lite {
  width: 100%;
}

.lite_h3 {
  font-family: "Yellowtail";
  font-size: 36px;
  line-height: 49px;
  color: #7eb693;
  text-align: center;
  margin-top: 150px;
}

.lite_h2 {
  font-weight: 800;
  font-size: 50px;
  line-height: 59px;
  color: #274c5b;
  text-align: center;
}

.lite_para {
  font-size: 18px;
  line-height: 1.65;
  color: #525c60;
  text-align: center;
  max-width: 852px;
  margin: 0 auto;
}

.lite_div {
  display: flex;
  justify-content: center;
}

.tl_team_div_1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 42px;
}

.tl_team_div_1 h6 {
  font-weight: 800;
  font-size: 25px;
  line-height: 29px;
  color: #274c5b;
  padding-top: 35px;
  padding-left: 35px;
}

.tl_team_div_1 p {
  font-family: "Yellowtail";
  font-size: 22px;
  line-height: 30px;
  color: #7eb693;
}

.tl_team_div_1 > div > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 28px 35px;
}

.tl_team_div_1 > div {
  box-shadow: 0px 29px 44px rgba(150, 150, 150, 0.25);
  border-radius: 30px;
}

.tl_team_div_1 img {
  width: 100%;
  border-radius: 30px 30px 0 0;
}

.tl_team_div_1 ion-icon {
  color: #274c5b;
  width: 22px;
  height: 22px;
}

.tl_section_div_2 {
  background-image: url(./our_team_photos/Backgroundmixed.png);
  width: 100%;
  height: 323px;
  background-repeat: no-repeat;
}
.tl_section_div_2 h1 {
  width: 357px;
  height: 113px;
  font-weight: 800;
  font-size: 50px;
  line-height: 59px;

  color: #ffffff;
}
.tl_section_div_2 input {
  width: 349px;
  height: 80px;
  border-radius: 15px;
  padding-left: 23px;
  border-radius: 16px;
}
.tl_section_div_2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 76px;
  margin-top: 140px;
}
.tl_section_div_2 button {
  height: 80px;
  color: #ffffff;
  padding: 28.5px 65px;
  background: #274c5b;
  border-radius: 16px;
  font-size: 1rem;
}
