@media only screen and (max-width: 1150px) {
  .tl_div_lite h1 {
    font-size: 50px;
  }
  .container_lite {
    padding: 0px 40px;
  }
  .tl_div p {
    width: 100%;
  }
}
@media only screen and (max-width: 750px) {
  .img_lite {
    display: none;
  }
  .tl_div_lite {
    margin-top: 0px;
  }
  .tl_div_lite div {
    flex-direction: column;
  }
  .tl_div_lite h1 {
    font-size: 35px;
  }
  .container_lite h2 {
    font-size: 35px;
  }
  .tl_div_lite_2 h4 {
    font-size: 18px;
  }
}
