@media only screen and (max-width: 1150px) {
  .tl_div_lite h1 {
    font-size: 50px;
  }
  .container_lite {
    padding: 0px 40px;
  }
  .tl_div p {
    width: 100%;
  }
  .tl_section_div_2 {
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 76px;
    margin-top: 140px;
    flex-direction: column;
  }
  .tl_section_div_2 div {
    text-align: center;
    gap: 50px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }
  .tl_section_div_2 h1 {
    padding-top: 25px;
    text-align: center;
    line-height: 41px;
    font-size: 34px;
  }
  .tl_section_div_2 input,
  .tl_section_div_2 button {
    height: 60px;
  }
  .tl_section_div_2 button {
    padding-bottom: 20.5px;
    padding-top: 21.5px;
    width: 100%;
  }
}
@media only screen and (max-width: 750px) {
  .tl_div_lite div {
    align-items: start;
  }
  .img_lite {
    display: none;
  }
  .container {
    padding: 0px 5px;
  }
  .container_lite {
    padding: 0px 20px;
  }
  .tl_div_lite {
    padding: 11vw;
    width: 100vw;
    margin-top: 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .tl_div_lite div {
    flex-direction: column;
  }
  .tl_div_lite h1 {
    font-size: 35px;
    line-height: 45px;
  }
  .container_lite h2 {
    font-size: 35px;
  }
  .tl_div_lite_2 h4 {
    font-size: 18px;
  }
}
