.ul_lite {
  background-color: green;
  color: blue;
  width: 300px;
  margin: 50px;
}
div > h1:first-child {
  color: blueviolet;
  text-align: center;
  size: 100%;
}
div {
  width: 100%;
  background-color: chartreuse;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
div h2 {
  font-size: 80%;
}
