@media only screen and (max-width: 1150px) {
  .tl_lite_div_1,
  .tl_lite_div_2 {
    flex-direction: column-reverse;
    display: flex;
  }
  .tl_quality_pro {
    flex-direction: column;
  }
  .tl_section_div_2 {
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 76px;
    margin-top: 140px;
    flex-direction: column;
  }
  .tl_section_div_2 div {
    text-align: center;
    gap: 50px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }
  .tl_section_div_2 h1 {
    padding-top: 25px;
    text-align: center;
    line-height: 41px;
    font-size: 34px;
  }
  .tl_section_div_2 input,
  .tl_section_div_2 button {
    height: 60px;
  }
  .tl_section_div_2 button {
    padding-bottom: 20.5px;
    padding-top: 21.5px;
    width: 100%;
  }
}
@media only screen and (max-width: 850px) {
  .service_section > img:first-child {
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .img_lite {
    height: 50vw;
  }
  .lite_container {
    padding: 0px 50px;
  }
}
